<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--=============================IOC=================================-->
    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring?serverTimezone=GMT%2B8&amp;useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="00312000"/>
    </bean>

    <bean id="AccountDao" class="priv.ze.spring.transaction.Impl.IAccountDaoImpl">
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <bean id="StockDao" class="priv.ze.spring.transaction.Impl.IStockDaoImpl">
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <bean id="BuyService" class="priv.ze.spring.transaction.Impl.IBuyStockServiceImpl">
        <property name="adao" ref="AccountDao"/>
        <property name="sdao" ref="StockDao"/>
    </bean>

    <!--=============================AOP=================================-->

    <!--注册事务管理器-->

    <bean id="myTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <!--注册事务通知-->
    <tx:advice id="txAdvice" transaction-manager="myTransactionManager">
        <tx:attributes>
            <!--这里指定的是：为每个连接点指定所要应用的事务属性-->
            <tx:method name="open*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="buyStock" isolation="DEFAULT" propagation="REQUIRED" rollback-for="BuyStockException"/>
        </tx:attributes>
    </tx:advice>

    <!--进行AOP配置-->
    <aop:config>
        <!--这里指定的是切入点-->
        <aop:pointcut id="myPointcut" expression="execution(* *..service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut"/>
    </aop:config>
</beans>